/* Estilos para VBox */
.vbox-padding {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

/* Estilos para ToolBar */
.toolbar {
    -fx-background-color: #FFF4D9;
    -fx-pref-Height:125.0;
    -fx-pref-Width:200.0;
}

/* Estilos para botones */
.button {
    -fx-background-color: #FFF4D9;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
}

/* Estilos para Label Seleccion bocadillo */
.label_dashboard_alumno {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

/* Estilos para contenedores de seleccion bocadillo */
.hbox-container {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-spacing:10.0;
    -fx-alignment: top_center;
}

/* Estilos hbox de los botones del toolbar */
.hbox-right {
    -fx-spacing: 20;
    -fx-padding: 0 20 0 0;
    -fx-alignment: center-right;
}

/* Estilos para campos de password y user login */
#passwordField , #usernameField{
    -fx-alignment: center;
    -fx-max-width: 400;
}

/* Estilos imagen login */
#image_login{
    -fx-fit-Height:200;
    -fx-fit-Width:300;
    -fx-preserve-Ratio:true;
}

/* Estilos botones toolbar */
#btnHistorial, #btnCerrarSesion{
    -fx-pref-Height:30.0;
    -fx-pref-Width:73.0;

}
